.resume {
    width: 800px;
    margin: 30px auto;
    background-color: white;
    box-shadow: 0 0 10px gray;
    border: 2px solid #333;
}

.resume-body {
    display: flex;
}

.left-section {
    width: 30%;
    background-color: #eeeeee;
    padding: 20px;
    box-sizing: border-box;
}

.right-section {
    width: 70%;
    padding: 20px;
    box-sizing: border-box;
}